<footer>
  <div class="footer-content">
      <div class="footer-left">
          <div class="footer-logo">
              <a href="https://www.bits-pilani.ac.in/Pilani/index.aspx">
                  <img src="/images/college.png" alt="Assoc Logo" class="footer-logo">
              </a>
          </div>
          <div class="footer-title-details">
              <h3 class="footer-title">Mathematics Association, BITS Pilani</h3>
              <h4 class="footer-sub-title">BITS Pilani</h4>
              <h4 class="footer-details">Jhunjhunu, Rajasthan-333031</h4>
          </div>
      </div>
      <div class="footer-right">
              <div class="footer-social-links">
                  <div class="social-link1">
                      <a href="https://in.linkedin.com/company/math-bitspilani">
                          <img src="/images/linkedin-logo.svg" alt="LinkedIn">
                      </a>
                  </div>
                  <div class="social-link2">
                      <a href="https://www.instagram.com/maths.assoc.bits.pilani/">
                          <img src="/images/insta-logo.svg" alt="Instagram">
                      </a>
                  </div>
                  <div class="social-link3">
                      <a href="https://www.facebook.com/maths.assoc.bits.pilani/">
                          <img src="/images/fb-logo.svg" alt="Facebook">
                      </a>
                  </div>
              </div>
              <div class="contact">
                  <span class="material-icons">email</span>
                  <address>maths.assoc@pilani.bits-pilani.ac.in</address>
              </div>
              <div class="mobile">
                  <span class="material-icons">call</span>
                  <address>+91 82905 08760</address>
              </div>
          </div>
      </div>
  </div>
</footer>
</body>
</html>