<%- include('../include/head.ejs') %>
  <link rel="stylesheet" href="/css/contact-styles.css">
</head>

<body>
  <%- include('../include/nav.ejs') %>
  <main>
    <h1 class="heading">CONTACT INFORMATION</h1>
    <section class="map-details">
        <div class="map-left">
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3510.829553736456!2d75.58477941433881!3d28.36400230293597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39131964f43e4575%3A0x1fbad30854cf884d!2sBirla+Institute+of+Technology+and+Science!5e0!3m2!1sen!2sin!4v1505764775549" style="border:0" allowfullscreen="" width="600" height="450" frameborder="0"></iframe>
            </div>
        </div>
        <div class="details-right">
            <div class="details detail1">
                <p class="detail">Professor In-charge</p>
                <p>Dr. Sumanta Pasari</p>
                <address>sumanta.pasari@pilani.bits-pilani.ac.in</address>
            </div>
            <div class="details detail2">
                <p class="detail">President</p>
                <p>Dipam Goswami</p>
                <address>f20170774@pilani.bits-pilani.ac.in</address>
            </div>
            <div class="details detail3">
                <p class="detail">Secretary</p>
                <p>Rituj Mittal</p>
                <address>f20180915@pilani.bits-pilani.ac.in</address>
            </div>
        </div>
    </section>
    <section class="contact-form">
        <div class="form-heading-container">
            <h1 class="heading form-heading">SEND US A MESSAGE</h1>
        </div>
        <form action="https://mabp.herokuapp.com/contact" method="POST">
            <div class="form-container">
                <div class="form form1">
                    <label for="name">Name<span>&nbsp;*</span></label>
                    <input type="text" name="name" class="name" id="name" placeholder="Name" required>
                </div>
                <div class="form form2">
                    <label for="mail">Email ID<span>&nbsp;*</span></label>
                    <input type="email" name="mail" class="mail" id="mail" placeholder="Email" required>
                </div>
                <div class="form form3">
                    <label for="mobile">Phone<span>&nbsp;*</span></label>
                    <input type="text" name="mobile" class="mobile" id="mobile" placeholder="Phone" required>
                </div>
                <div class="form form4">
                    <label for="message">Message</label>
                    <textarea name="message" class="message" id="message" placeholder="Message"></textarea>
                </div>
            </div>
            <div class="btn-container">
                <button type="submit" class="submit-contact" id="submit-contact">SUBMIT</button>
            </div>
        </form>
    </section>
  </main>
  <%- include('../include/footer.ejs') %>