<%- include('../include/head.ejs') %>
  <link rel="stylesheet" href="/css/about-styles.css">
  <script src="/js/events.js" defer></script>
</head>

<body>
  <%- include('../include/nav.ejs') %>
  <main>
    <section class="description">
        <p>We are a group of enthusiastic students that help support the mathematical community on the campus. Throughout the year, we organize and host academic events, programs and social activities to help encourage collaboration, active participation and teamwork amongst the students. We are dedicated to making mathematics accessible and fun to all BITSian students, and to enhance the experience of undergraduate mathematics learning.</p>
    </section>
    <section class="prof">
        <h2 class="profile-heading">Professor In-Charge</h2>
        <div class="profile-container prof-container">
            <img src="/images/prof.png" alt="prof-img" class="profile-img prof-img">
            <div class="name">Dr. Sumanta Pasari</div>
            <div class="designation">Professor In-Charge</div>
            <address class="email">sumanta.pasari@pilani.bits-pilani.ac.in</address>
            <div class="profile-links">
                <a href="https://universe.bits-pilani.ac.in/pilani/sumantapasari/profile"><img src="/images/web.png" alt="web"></a>
            </div>
        </div>
    </section>
    <h2 class="profile-heading">Student Members</h2>
    <section class="student-members">
        <div class="profile-container dipam">
            <img src="/images/dipam.png" alt="dipam-profile-img" class="profile-img">
            <div class="name">Dipam Goswami</div>
            <div class="designation">President</div>
            <address class="email">f20170774@pilani.bits-pilani.ac.in</address>
            <div class="profile-links">
                <a href="https://www.linkedin.com/in/dipam-goswami-0a424416b/?originalSubdomain=in"><img src="/images/linkedin-logo.svg" alt="linkedin"></a>
                <!-- <a href="#"><img src="/images/github.svg" alt="github"></a> -->
            </div>
        </div>
        <div class="profile-container rituj">
            <img src="/images/rituj.png" alt="rituj-profile-img" class="profile-img">
            <div class="name">Rituj Mittal</div>
            <div class="designation">Secretary</div>
            <address class="email">f20180915@pilani.bits-pilani.ac.in</address>
            <div class="profile-links">
                <a href="https://www.linkedin.com/in/rituj-mittal-b6b94a166/"><img src="/images/linkedin-logo.svg" alt="linkedin"></a>
                <!-- <a href="#"><img src="/images/github.svg" alt="github"></a> -->
            </div>
        </div>
        <div class="profile-container krupa">
            <img src="/images/krupa2.png" alt="krupa-profile-img" class="profile-img">
            <div class="name">Krupa Bhayani</div>
            <div class="designation">APOGEE Co-ordinator</div>
            <address class="email">f20180844@pilani.bits-pilani.ac.in</address>
            <div class="profile-links">
                <a href="https://www.linkedin.com/in/krupa-bhayani/?originalSubdomain=in"><img src="/images/linkedin-logo.svg" alt="linkedin"></a>
                <a href="https://github.com/Krupa0409"><img src="/images/github.svg" alt="github"></a>
            </div>
        </div>
        <div class="profile-container sasank">
            <img src="/images/sasank.png" alt="sasank-profile-img" class="profile-img">
            <div class="name">Koganti Sasank</div>
            <div class="designation">Events Co-ordinator</div>
            <address class="email">f20181158@pilani.bits-pilani.ac.in</address>
            <div class="profile-links">
                <!-- <a href="#"><img src="/images/linkedin-logo.svg" alt="linkedin"></a>
                <a href="#"><img src="/images/github.svg" alt="github"></a> -->
            </div>
        </div>
        <div class="profile-container chirag">
            <img src="/images/chirag.png" alt="chirag-profile-img" class="profile-img">
            <div class="name">Chirag Jain</div>
            <div class="designation">Technical Head</div>
            <address class="email">f20180828@pilani.bits-pilani.ac.in</address>
            <div class="profile-links">
                <a href="https://www.linkedin.com/in/chirag-jain-52b9ab1aa/"><img src="/images/linkedin-logo.svg" alt="linkedin"></a>
                <!-- <a href="#"><img src="/images/github.svg" alt="github"></a> -->
            </div>
        </div>
        <div class="profile-container samarth">
            <img src="/images/samarth.png" alt="samarth-profile-img" class="profile-img">
            <div class="name">Samarth Joshi</div>
            <div class="designation">Design & Publicity Head</div>
            <address class="email">f20180873@pilani.bits-pilani.ac.in</address>
            <div class="profile-links">
                <!-- <a href="#"><img src="/images/linkedin-logo.svg" alt="linkedin"></a>
                <a href="#"><img src="/images/github.svg" alt="github"></a> -->
            </div>
        </div>
        <div class="profile-container prajwal">
            <img src="/images/prajwal.png" alt="prajwal-profile-img" class="profile-img">
            <div class="name">Prajwal Ranjan</div>
            <div class="designation">Editing Team Head</div>
            <address class="email">f20180414@pilani.bits-pilani.ac.in</address>
            <div class="profile-links">
                <a href="https://www.linkedin.com/in/prajwal-ranjan-64907715b/"><img src="/images/linkedin-logo.svg" alt="linkedin"></a>
                <a href="https://github.com/prajwalranjan"><img src="/images/github.svg" alt="github"></a>
            </div>
        </div>
        <div class="profile-container nandita">
            <img src="/images/nandita.png" alt="nandita-profile-img" class="profile-img">
            <div class="name">Nandita Kamath</div>
            <div class="designation">Chief Editor</div>
            <address class="email">f20180868@pilani.bits-pilani.ac.in</address>
            <div class="profile-links">
                <!-- <a href="#"><img src="/images/linkedin-logo.svg" alt="linkedin"></a>
                <a href="#"><img src="/images/github.svg" alt="github"></a> -->
            </div>
        </div>
    </section>
    <h2 class="profile-heading atmesh">Junior Members</h2>
    <section class="junior-members">
        <div class="profile-container atmesh">
            <img src="/images/atmesh.png" alt="atmesh-profile-img" class="profile-img">
            <div class="name">Atmesh Mahapatra</div>
            <div class="designation">Joint Secretary</div>
            <address class="email">f20190560@pilani.bits-pilani.ac.in</address>
            <div class="profile-links">
                <a href="https://www.linkedin.com/in/atmesh-mahapatra-9372b0190/"><img src="/images/linkedin-logo.svg" alt="linkedin"></a>
                <a href="https://github.com/atmeshvm"><img src="/images/github.svg" alt="github"></a>
            </div>
        </div>
        <div class="profile-container bharat">
            <img src="/images/bharat.png" alt="bharat-profile-img" class="profile-img">
            <div class="name">Bharat Agarwal</div>
            <div class="designation">Joint Technical Head</div>
            <address class="email">f20190725@pilani.bits-pilani.ac.in</address>
            <div class="profile-links">
                <!-- <a href="#"><img src="/images/linkedin-logo.svg" alt="linkedin"></a> -->
                <a href="https://github.com/BhrtAgrwl01"><img src="/images/github.svg" alt="github"></a>
            </div>
        </div>
        <div class="profile-container devansh">
            <img src="/images/devansh.png" alt="devansh-profile-img" class="profile-img">
            <div class="name">Devansh Tanna</div>
            <div class="designation">Joint Technical Head</div>
            <address class="email">f20190158@pilani.bits-pilani.ac.in</address>
            <div class="profile-links">
                <a href="https://www.linkedin.com/in/devansh-tanna-0210/"><img src="/images/linkedin-logo.svg" alt="linkedin"></a>
                <a href="https://github.com/Devansh0210"><img src="/images/github.svg" alt="github"></a>
            </div>
        </div>
        <div class="profile-container pranay">
            <img src="/images/pranay.png" alt="pranay-profile-img" class="profile-img">
            <div class="name">Pranay Bansal</div>
            <div class="designation">Joint APOGEE Co-ordinator</div>
            <address class="email">f20190471@pilani.bits-pilani.ac.in</address>
            <div class="profile-links">
                <!-- <a href="#"><img src="/images/linkedin-logo.svg" alt="linkedin"></a>
                <a href="#"><img src="/images/github.svg" alt="github"></a> -->
            </div>
        </div>
        <div class="profile-container kshitij">
            <img src="/images/kshitij.png" alt="kshitij-profile-img" class="profile-img">
            <div class="name">Kshitij Gupta</div>
            <div class="designation">Joint APOGEE Co-ordinator</div>
            <address class="email">f20190619@pilani.bits-pilani.ac.in</address>
            <div class="profile-links">
                <a href="https://www.linkedin.com/in/kshitij-gupta-612143196/"><img src="/images/linkedin-logo.svg" alt="linkedin"></a>
                <a href="https://github.com/chef627"><img src="/images/github.svg" alt="github"></a>
            </div>
        </div>
        <div class="profile-container tanushri">
            <img src="/images/tanushri.png" alt="tanushri-profile-img" class="profile-img">
            <div class="name">Tanushri Tripathi</div>
            <div class="designation">Joint Editing Head</div>
            <address class="email">f20190617@pilani.bits-pilani.ac.in</address>
            <div class="profile-links">
                <a href="https://www.linkedin.com/in/tanushri-tripathi-9b13771b1/"><img src="/images/linkedin-logo.svg" alt="linkedin"></a>
                <a href="https://github.com/Tanushri101"><img src="/images/github.svg" alt="github"></a>
            </div>
        </div>
        <div class="profile-container ujjwal">
            <img src="/images/ujjwal.png" alt="ujjwal-profile-img" class="profile-img">
            <div class="name">Ujjwal Jain</div>
            <div class="designation">Join Events Co-ordinator</div>
            <address class="email">f20190647@pilani.bits-pilani.ac.in</address>
            <div class="profile-links">
                <a href="https://www.linkedin.com/in/ujjwal26jain/"><img src="/images/linkedin-logo.svg" alt="linkedin"></a>
                <a href="https://github.com/Ujjwaljain2608"><img src="/images/github.svg" alt="github"></a>
            </div>
        </div>
        <div class="profile-container nishant">
            <img src="/images/nishant.png" alt="nishant-profile-img" class="profile-img">
            <div class="name">Nishant Sahu</div>
            <div class="designation">Joint Events Co-ordinator</div>
            <address class="email">f20190895@pilani.bits-pilani.ac.in</address>
            <div class="profile-links">
                <a href="https://www.linkedin.com/in/nishant-sahu-9807751ab/"><img src="/images/linkedin-logo.svg" alt="linkedin"></a>
                <!-- <a href="#"><img src="/images/github.svg" alt="github"></a> -->
            </div>
        </div>
    </section>
  </main>
  <%- include('../include/footer.ejs') %>